{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <h1 class="text-brown ml-5 mb-3">{{ 'Confirmation'|title }}</h1>
    <div class="container">
        {{ form_start(formContact|e) }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_row(formContact.firstname|e,{'attr':{'class':'form-border-l'}}) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_row(formContact.lastname|e,{'attr':{'class':'form-border-l'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_row(formContact.email|e,{'attr':{'class':'form-border-l'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(formContact.phone|e,{'attr':{'class':'form-border-l'}}) }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_row(formContact.date|e) }}
            </div>
            <div class="form-group col-md-2">
                {{ form_row(formContact.reservation|e) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_row(formContact.message|e,{'attr':{'class':'form-border-l'}}) }}
        </div>
        {{ form_row(formContact.Envoyer|e) }}
        {{ form_end(formContact|e) }}
    </div>

{% endblock %}