{% extends 'base.html.twig' %}

{% block title %}Espace Client{% endblock %}

{% block body %}
    <div class="row text-brown">
        <div class="col-md-5">
            <div class="card mb-3 shadow bg-transparent">
                <div class="card-header bg-broken-green">{{ 'Votre profil'|title }}</div>
                <div class="card-body ">
                    <h5 class="card-title">{{ client.name |striptags| e }}</h5>
                    <p class="card-text">{{ client.phone |striptags|e }}</p>
                    <p class="card-text">{{ user.email|striptags|e }}</p>
                    <a href="{{ path('app_forgotten_password') }}" class="btn btn-brown">Changer mon mot de passe</a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card mb-3 shadow bg-transparent">
                <div class="card-header bg-broken-green">{{ 'Vos Réservations'|title }}</div>
                <div class="card-body">
                    <table class="table">
                        <thead class="bg-broken-orange">
                        <tr>
                            <th scope="col">Jour</th>
                            <th scope="col">Heure</th>
                            <th scope="col">Place</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for res in client.revplace|sort((a, b) => a.getdatereserv <=> b.getdatereserv)|reverse %}
                            <tr>
                                <td>{{ res.getdatereserv()|date('d-m-Y') }}</td>
                                <td>{{ res.planning.hour }}:{{ res.planning.minute }}</td>
                                <td>{{ res.getplacereserv() }}</td>
                                <td>
                                    {% if  date('now')<date(res.getdatereserv()) %}
                                        <form action="{{ path('reservation.delete', {id: res.getid()}) }}" method="post"
                                              style="display: inline-block;"
                                              onsubmit="return confirm('Etes-vous sûr ?')">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete_reservation' ~ res.getid()) }}">
                                            <button class="btn btn-supp"></button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}