{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block stylesheets %}
    <!-- calendar -->
    <link rel="stylesheet" href="{{ asset('fullcalendar/packages/core/main.css') }}">
    <link rel="stylesheet" href="{{ asset('fullcalendar/packages/daygrid/main.css') }}">
    <link rel="stylesheet" href="{{ asset('fullcalendar/packages/timegrid/main.css') }}">
{% endblock %}
{% block body %}
    <h1 class="text-brown ml-5 mb-3">{{ 'Réservation'|title }}</h1>
    <div class="container mb-3">
        {{ form_start(form|e) }}
        {{ form_row(form.placeReserv|e,{'attr':{'class':'col-md-3'}}) }}
        <div id="calendar" class=" shadow-lg bg-broken-green"></div>

        <div id="myModal" class="modal" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title">Choisissez un horaire pour votre réservation</h5>
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <div>
                            {% for planning in plannings %}
                                <a class="btn btn-anis m-1 js-res {{ planning.service }}">{{ planning.hour }}
                                    : {{ planning.minute }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_row(form.Valider|e,{'attr':{'class':'btn btn-anis'}}) }}
        {{ form_end(form|e) }}
    </div>

    {% block javascripts %}
        <!-- Calendar js -->
        <script src="{{ asset('fullcalendar/packages/core/main.js') }}"></script>
        <script src="{{ asset('fullcalendar/packages/daygrid/main.js') }}"></script>
        <script src="{{ asset('fullcalendar/packages/timegrid/main.js') }}"></script>
        <script src="{{ asset('fullcalendar/packages/interaction/main.js') }}"></script>
        <script src="{{ asset('js/scripts.js') }}"></script>
    {% endblock %}
{% endblock %}