{{ form_start(formUser) }}
{{ form_row(formUser.email|e) }}
{{ form_row(formUser.roles|e) }}
<button class="btn btn-anis float-right">{{ button|default('Enregistrer') }}</button>
<a href="{{ path('admin.user.index') }}" class="btn btn-anis float-left">Retour</a>
{{ form_end(formUser) }}