{% extends 'base.html.twig' %}

{% block title 'Gérer les utilisateurs' %}
{% block body %}
    <div class="row">
        {{ include('admin/_nav.html.twig') }}
        <div class="col-md-7 align align-md">
            <h1 class="text-brown ml-5 mb-3">{{ 'Gérer les utilisateurs'|title }}</h1>
            <div class="balign">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Administrateur</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in list_client_user %}
                        <tr>
                            <td>{{ user.clients.name }}</td>
                            <td>
                                {% for r in user.roles %}
                                    {{ r }}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('admin.user.edit',{id:user.id}) }}"
                                   class="btn btn-edit">Editer</a>
                                <form action="{{ path('admin.user.delete', {id: user.id}) }}" method="post"
                                      style="display: inline-block;" onsubmit="return confirm('Etes-vous sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete_user' ~ user.id) }}">
                                    <button class="btn btn-supp"></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
