{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1 class="text-brown ml-5 mb-3">{{ 'Mot de passe oublié'|title }}</h1>
    {{ form_start(emailForm|e) }}
    <div class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            {{ form_row(emailForm.email|e) }}
        </div>
        {{ form_row(emailForm.envoyer|e) }}
    </div>
    {{ form_end(emailForm|e) }}
{% endblock %}
