{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
    <h1 class="mb-3 text-brown ml-5">{{ 'Connectez-vous'|title }}</h1>
    <div class="container">
        <form method="post" class="shadow bg-broken-green p-3">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username |striptags|e }}" name="email" id="inputEmail"
                       class="form-control form-border-l" placeholder="Ex: jean.dupont@exemple.com" required
                       autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control form-border-l" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
            <div class="row justify-content-between">
                <div class="form-inline">
                    <button class="btn btn-anis mx-3" type="submit">
                        Connexion
                    </button>
                    <p class="pt-3 mx-3">Si vous n'etes pas encore inscrit c'est par <a href="{{ path('registration') }}">ici</a></p>
                </div>
                <div class="form-inline">
                    <a href="{{ path('app_forgotten_password') }}" class="text-white bg-dark justify-content-end mx-3">Mot de passe oublié</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}