{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <h1 class="text-brown ml-5 mb-3">{{ 'Réinitialisation du mot de passe'|title }}</h1>
    <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
    <form method="post" class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe"
                   required minlength="8">
            <input type="hidden" name="token" value="{{ token }}">
        </div>
        <button type="submit" id="valider" class="btn btn-anis mb-2">
            Valider le mot de passe
        </button>
    </form>
{% endblock %}

