{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid anim">
            <div class="container">
                <h1 class="titre">{{ "Bienvenue au restaurant "|title }}
                    <strong>{{ 'Le Petit Confiné'|title }}</strong></h1>
                <p class="para_jumbo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis ea eaque earum
                    eligendi explicabo fuga,
                    harum hic illo, impedit nam non porro, quas quibusdam rem veniam voluptates. Labore libero magnam
                    nam vel. Alias
                    esse harum omnis? Alias aut consequatur culpa ducimus eaque esse ex fugiat, ipsam non ratione
                    vero.</p>
            </div>
        </div>
    </div>
    <h2 class="text-b my-5">Voici la liste de nos menus</h2>

    <div class="row">
        {% for menu in menus %}
            <div class="col-md-4 my-3">
                <div class="card border-anis  bg-transparent">
                    <div class="card-body text-b d-flex justify-content-between">
                        <h5 class="card-title m-1 font-text">{{ menu.nom }}</h5>
                        <p class="card-text">
                            <a href="{{ path('home.show',{ 'slug': menu.slug,'id':menu.id }) }}" class="btn btn-brown apr"></a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2 class="text-light my-5">Les Horaires d'ouverture</h2>
    <div class="row">
        <div class="col">
            <h3 class="text-b">Service du midi</h3>
            <h5 class="text-b">Ouvert du Mardi au dimanche</h5>
            {% for hm in planningM %}
                <p class="text-b">de {{ hm.minhour }}H à {{ hm.maxhour +1}}H</p>
            {% endfor %}
        </div>
        <div class="col">
            <h3 class="text-b">Service du soir</h3>
            <h5 class="text-b">Ouvert du Mardi au samedi</h5>
            {% for hs in planningS %}
                <p class="text-b">de {{ hs.minhour }}H à {{ hs.maxhour+1 }}H</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}