{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="text-brown ml-5 mb-3">{{ 'Inscrivez-vous'|title }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 bg-broken-green shadow py-3">
                {{ form_start(formRegistration|e) }}
                {{ form_row(formRegistration|e) }}
                {{ form_end(formRegistration|e) }}
            </div>
        </div>
    </div>
{% endblock %}