html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #DDD5BE;
}

footer {
    display: none !important;
}

/**********************/
/*       FOOTER       */
/**********************/
.vue {
    min-height: 65vh !important;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
    padding: 0;
}

.grid-container > div {
    overflow: hidden;
    position: relative;
}

.grid-container img {
    opacity: 0.7;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: all 0.5s ease-in-out;
    display: block;
    width: 100px;
    height: 100px;
}

.grid-container div:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}

.footer-title {
    align-self: center;
}

.anim {
    animation-name: accueil;
    animation-duration: 10s;
}

@keyframes accueil {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/**********************/
/*     IMAGE FONT     */
/**********************/
.bg-img-home {
    background-color: #DDD5BE;
    background-image: none;
}

.bg-brown {
    background-color: #6C5642;
}

.bg-sombre {
    background-color: #000000;
    color: #ffffff;
}

.bg-img-plat {
    background-image: url('../img/cuisine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/**********************/
/*        NAV        */
/**********************/

.view {
    margin-top: 30px;
}

/**********************/
/*        HOME        */
/**********************/
.text-b {
    color: #6C5642;
}

.btn-brown:hover {
    color: #39251E;
    background-color: #7EA172;
    border-color: #8D7A65;
}

.btn-brown {
    color: #01D758;
    background-color: #6C5642;
    border-color: #8E9430;
}

.apr::after {
    content: "...";
}

.border-anis {
    border-color: #8E9430 !important;
}

.text-brown {
    color: #6C5642;
}

.font-text {
    font-size: 1.2rem;
    font-weight: bolder;
}

.badge-anis {
    color: #fff;
    background-color: #8E9430;
}

.bg-broken-green {
    background-color: #DAF6CD;
}

.img-height {
    height: 12rem;
}

/**********************/
/*        AVIS        */
/**********************/

.form-border-l {
    border-left-width: 8px;
    border-left-color: #8E9430;
}

.btn-anis {
    color: #fff;
    background-color: #8E9430;
    border-color: #8E9430 !important;
}

/**********************/
/*    RESERVATION     */
/**********************/
#calendar {
    margin: 3rem 0;
}

/**********************/
/*   ADMINISTRATION   */
/**********************/

.bg-broken-orange {
    background-color: #E7A977;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-supp {
    color: #EDC4A4;
    background-color: #7D2E1A;
    border-color: #8E9430;
    width: 70px;
}

.btn-supp::after {
    content: "Supp";
}

.btn-supp:hover {
    color: #000000;
    background-color: #E44921;
    border-color: #8E9430;
}

.btn-edit {
    color: #502419;
    background-color: #D7BA7E;
    border-color: #8E9430;
    width: 70px;
}

.btn-edit:hover {
    color: #39251E;
    background-color: #8E9430;
    border-color: #8E9430;
}

.btn-menu-admin {
    color: #502419;
    background-color: #FEDE62;
    border-color: #502419;
}

.btn-menu-admin:hover {
    color: #000000;
    background-color: #98D4AF;
    border-color: #8E9430;
}

label.required:before {
    content: "* ";
    color: red;
}

#build_register > .form-group {
    margin-bottom: 0;
}

.page-item.active .page-link {
    z-index: 3;
    color: #01D758;
    background-color: #6C5642;
    border-color: #8E9430;
}

.page-link:hover {
    z-index: 2;
    text-decoration: none;
    color: #39251E;
    background-color: #7EA172;
    border-color: #8D7A65;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #6C5642;
    background-color: #DDD5BE;
    border: 1px solid #8E9430;
}

.row > .bg-broken-orange {
    margin-right: 15px;
    margin-left: 15px;
}

.table td {
    vertical-align: middle;
}

fieldset {
    padding: 0;
}

@media (max-width: 575px) {
    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.3em;
    }
}

@media (min-width: 576px) {
    .bg-img-home {
        background-image: url('../img/food.jpg') !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    footer {
        display: block !important;
    }

    .titre {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .para_jumbo {
        font-size: 1.25rem;
        font-weight: 300;
    }

    .text-b {
        color: #f8f9fa;
    }

    .apr::after {
        content: "En savoir plus";
    }

    .btn-edit, .btn-supp {
        width: 100px;
    }

    .btn-supp::after {
        content: "Supprimer";
    }

    .row > .bg-broken-orange {
        margin-left: 1rem;
        margin-right: -2rem;
    }

    .align {
        margin-left: 0;
    }

    .balign {
        margin-left: 0;
    }

    .img-height {
        height: 30rem;
    }

}

@media (min-width: 768px) {
    .align-md {
        margin-left: 2rem;
    }

    .col-md-8 > .balign {
        margin-left: 1rem;
    }
}

@media (min-width: 992px) {
    .search-flex {
        display: flex;
        justify-content: space-between;
    }
}