{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <div class="container">
        <ul class="list-group mb-3 text-brown font-text shadow">
            <li class="list-group-item d-flex justify-content-between align-items-center bg-broken-green">
                <h2>{{ menu.nom |striptags|e }}</h2>
                <h3><span class="badge badge-anis badge-pill">{{ menu.prix|striptags|e }} €</span></h3>
            </li>
        </ul>
        {% for nom_plat in menu.plats %}
            <div class="card mb-3 border-anis shadow">
                {% if nom_plat.imageName is empty %}
                    <img src="{{ asset('img/empty.jpg') }}" class="card-img-top img-height" alt="">
                {% else %}
                    <img src="{{ vich_uploader_asset(nom_plat,'imageFile') }}" class="card-img-top img-height" alt="">
                {% endif %}
                <div class="card-body text-brown border-top border-anis mt-1 bg-broken-green">
                    <h3 class="card-title">{{ nom_plat.nom |striptags|e }}</h3>
                    <strong>Description</strong>
                    <p>{{ nom_plat.description|striptags|nl2br|e }}</p>
                    <strong>Histoire du plat</strong>
                    <p>{{ nom_plat.histoire|striptags|nl2br|e }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}