{% extends 'base.html.twig' %}

{% block title %}Plats{% endblock %}

{% block body %}
    <h1 class="text-brown ml-5 mb-3">{{ 'Nos plats'|title }}</h1>
    <div class="row justify-content-md-center">
        {% for plat in plats %}
            <div class="card shadow-lg p-1 m-3  bg-transparent text-light border-anis" style="width: 18rem;">
                {% if plat.imageName is empty %}
                    <img src="{{ asset('img/empty.jpg') }}" class="card-img-top" style="height:12rem;"
                         alt="{{ plat.nom|striptags|e }}">
                {% else %}
                    <img src="{{ vich_uploader_asset(plat,'imageFile') }}" class="card-img-top" style="height:12rem;"
                         alt="{{ plat.nom|striptags|e }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ plat.nom|striptags|e }}</h5>
                    <p class="card-text">{{ plat.description| striptags | slice(0, 50) }} ...</p>
                </div>
                <div class="card-footer"><a href="{{ path('plat.show',{ 'slug':plat.slug, 'id':plat.id }) }}" class="btn btn-brown apr"></a></div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(plats) }}
    </div>

{% endblock %}