{% extends 'base.html.twig' %}

{% block title %}Détail des plats{% endblock %}

{% block body %}
    <div class="container">
        <article>
            <div class="card my-5 shadow border-anis">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        {% if plat.imageName is empty %}
                            <img src="{{ asset('img/empty.jpg') }}" class="card-img-top img-height"
                                 alt="{{ plat.nom|striptags|e }}">
                        {% else %}
                            <img src="{{ vich_uploader_asset(plat,'imageFile') }}" class="card-img-top img-height"
                                 alt="{{ plat.nom|striptags|e }}">
                        {% endif %}
                    </div>
                    <div class="col-md-4 border-left border-anis text-brown">
                        <div class="card-body">
                            <h3 class="card-title pb-3 font-text">{{ plat.nom|striptags|e }}</h3>
                            <strong>Description</strong>
                            <p class="card-text pt-1">{{ plat.description|striptags|e }}</p>
                            <strong>Histoire</strong>
                            <p class="card-text pt-1">{{ plat.histoire|striptags|e }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <section id="avis" class="text-brown">
            {% if plat.avis.count == 0 %}
                <p class="font-text">{{ 'Aucun avis n\'a encore été donné sur ce plat' }}</p>
            {% else %}
                <h1>Les {{ list_avis|length }} derniers avis :</h1>
            {% endif %}
            {% for avis in list_avis %}
                <div class="comment">
                    <div class="row">
                        <div class="col-3">{{ avis.auteur|striptags|e }}
                            (<small>{{ avis.createdAt | date('d/m/Y à H:i')|striptags|e }}</small>)
                        </div>
                        <div class="col">
                            <p>
                                {{ avis.contenu|striptags|nl2br|e }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if is_granted('ROLE_USER') %}
                {{ form_start(formAvis) }}
                {{ form_row(formAvis.auteur,{'attr':{'placeholder':'Votre nom','class':'form-border-l'}}) }}
                {{ form_row(formAvis.contenu,{'attr':{'placeholder':'Votre avis','class':'form-border-l'},'label':'Votre avis'}) }}
                <button type="submit" class="btn btn-anis">Commenter !</button>
                {{ form_end(formAvis) }}
            {% else %}
                <h2>Vous ne pouvez pas donner votre avis si vous n'êtes pas connecté !</h2>
                <a href="{{ path('app_login') }}" class="btn btn-brown">Connexion</a>
            {% endif %}
        </section>
    </div>
{% endblock %}