{{ form_start(formPlanning) }}
    {{ form_row(formPlanning.hour|e) }}
    {{ form_row(formPlanning.minute|e) }}
    {{ form_row(formPlanning.service|e) }}
<button class="btn btn-anis float-right">{{ button|default('Enregistrer') }}</button>
<a href="{{ path('admin.planning.index') }}" class="btn btn-anis float-left">Retour</a>
{{ form_end(formPlanning) }}

