{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ include('admin/_nav.html.twig') }}
        <div class="col-md-7 align align-md">
            <h1 class="text-brown ml-5 mb-3">{{ 'Edition d\'un horraire'|title }}</h1>
            <div class="mx-3">
                {{ include ("admin/planning/_form.html.twig", {form:formPlanning,button:'Editer'}) }}
            </div>
        </div>
    </div>


{% endblock %}