{% extends 'base.html.twig' %}

{% block title 'Gérer les menus' %}
{% block body %}
    <div class="row">
        {{ include('admin/_nav.html.twig') }}
        <div class="col-md-7 align align-md">
            <h1 class="text-brown ml-5 mb-3">{{ 'Gérer les plannings'|title }}</h1>
            <div class="balign">
                <div class="text-right">
                    <a href="{{ path('admin.planning.new') }}" class="btn btn-anis mb-3">Créer un nouvel planning</a>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for planning in plannings %}
                        <tr>
                            <td>{{ planning.hour|striptags|e }}:{{ planning.minute|striptags|e }}</td>
                            <td>
                                <a href="{{ path('admin.planning.edit',{id:planning.id}) }}" class="btn btn-edit">Editer</a>
                                <form action="{{ path('admin.planning.delete', {id: planning.id}) }}" method="post"
                                      style="display: inline-block;" onsubmit="return confirm('Etes-vous sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete_planning' ~ planning.id) }}">
                                    <button class="btn btn-supp"></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="text-right">
                    <a href="{{ path('admin.planning.new') }}" class="btn btn-anis">Créer un nouvel planning</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}