{% extends 'base.html.twig' %}

{% block title 'Les annulations' %}
{% block body %}
    <div class="row">
        {{ include('admin/_nav.html.twig') }}
        <div class="col-md-7 align align-md">
            <h1 class="text-brown ml-5 mb-3">{{ 'Les Annulations'|title }}</h1>
            <div class="balign">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Horaire</th>
                        <th>Client</th>
                        <th>Place</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reserv in delete_reservation %}
                        <tr>
                            <td>{{ reserv.dateReserv|date('d-m-Y')|striptags|e }}</td>
                            <td>{{ reserv.planning.hour|striptags|e }}:{{ reserv.planning.minute|striptags|e }}</td>
                            <td>{{ reserv.clients.name|striptags|e }}</td>
                            <td>{{ reserv.placeReserv|striptags|e }}</td>
                            <td>
                                <form action="{{ path('admin.place.delete', {id: reserv.id}) }}" method="post"
                                      style="display: inline-block;" onsubmit="return confirm('Etes-vous sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token('delete_place' ~ reserv.id) }}">
                                    <button class="btn btn-supp"></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}