{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ include('admin/_nav.html.twig') }}
        <div class="col-sm-7 align align-md">
            <div class="balign">
                <h1 class="text-brown ml-5 mb-3">{{ 'Les réservations'|title }}</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Nombre total de réservation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div class="text-right">
                        <a href="{{ path('admin.place.annulation') }}" class="btn btn-edit mb-3">Annulations</a>
                        <a href="{{ path('admin.detail') }}" class="btn btn-edit mb-3">Détail</a>
                    </div>
                    {% for place in places %}
                        <tr>
                            <td>{{ place.date | date('d-m-Y') |striptags|e }}</td>
                            <td>{{ place.plreserve|striptags|e }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}