{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ include('admin/_nav.html.twig') }}
        <div class="col-lg-7 align align-md">
            <div class="balign">
                <h1 class="text-brown ml-5 mb-3">{{ 'Détail des réservations'|title }}</h1>
                    <table class="table table-striped table-sm table-responsive-sm">
                        <thead>
                        <tr>
                            <th >Date</th>
                            <th>Horraire</th>
                            <th>Réservation</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Numéro Client</th>
                            <th>Nom Compte Client</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for element in elements %}
                            {% for k,montab in tab %}
                                {% if (k==element.id) %}
                                    {% for n in montab %}
                                        <tr>
                                            <td>{{ n['date_reserv'] |date('d-m-Y') }}</td>
                                            <td>{{ element.planning.hour }}:{{element.planning.minute }}</td>
                                            <td>{{ n['placeReserv'] }}</td>
                                            <td>{{ n['lastname'] }}</td>
                                            <td>{{ n['firstname'] }}</td>
                                            <td>{{ n['id'] }}</td>
                                            <td>{{ n['name'] }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                <a href="{{ path('admin.home') }}" class="btn btn-anis float-left">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}