<div class="card m-4  bg-transparent shadow">
    <div class="card-header bg-broken-green search-flex">
        <h4><strong>{{ client.name }}</strong></h4>
        <h4>N° client : {{ client.id }}</h4>
        <h4>Téléphone client : {{ client.phone }}</h4>
    </div>
    <div class=" card-body">
        <p class="card-text">Contact :</p>
        <p class="card-text">
            {% for contact in client.contacts %}
            <strong> {{ contact.firstname }} {{ contact.lastname }} </strong> a fait une reservation pour
            le <strong>{{ contact.date|date('d-m-Y') }}</strong> à <em>{{ contact.date|date('H:i') }}</em>
            pour {{ contact.reservation }} personne{% if contact.reservation > 1 %}s{% endif %}. N° privé
            : {{ contact.phone }}
        </p>
        {% endfor %}
    </div>
</div>