<div class="col-md-4 bg-broken-orange">
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin.user.index') }}" class="btn btn-lg btn-block btn-menu-admin">Gestion des
            utilisateurs</a>
        <a href="{{ path('admin.planning.index') }}" class="btn btn-lg btn-block btn-menu-admin">Les horaires</a>
    {% endif %}
    {% if is_granted('ROLE_EDITOR') %}
        <a href="{{ path('admin.home') }}" class="btn btn-lg btn-block btn-menu-admin">Les réservations</a>
        <a href="{{ path('admin.menu.index') }}" class="btn btn-lg btn-block btn-menu-admin">Gestion des menus</a>
        <a href="{{ path('admin.plat.index') }}" class="btn btn-lg btn-block btn-menu-admin">Gestion des plats</a>
    {% endif %}
</div>