{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1 class="text-brown ml-5 mb-3">{{ 'Administration'|title }}</h1>
    <div class="row">
        {{ include('admin/_nav.html.twig') }}
        <div class="col-md-7 align align-md">
            {{ form_start(form_c) }}
            <div class="ml-5 form-row align-items-end">
                <div class="col">
                    {{ form_row(form_c.name,{'label':'Nom du client'}) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-anis">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form_c) }}
        </div>
    </div>
    <div class="row">
        <div class="container">
            {% for client in clients %}
                {% include "admin/_cli.html.twig" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}