{{ form_start(formPlat) }}
    {{ form_row(formPlat.nom|e) }}
    {{ form_row(formPlat.description|e) }}
    {{ form_row(formPlat.histoire|e) }}
    {{ form_row(formPlat.menus|e) }}
    {{ form_row(formPlat.imageFile|e) }}
<button class="btn btn-anis float-right">{{ button|default('Enregistrer') }}</button>
<a href="{{ path('admin.plat.index') }}" class="btn btn-anis float-left">Retour</a>
{{ form_end(formPlat) }}

