<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Le petit Confiné{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <!-- select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- normalize -->
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <!-- mon css -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!-- icon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('icon/favicon.ico') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body class="{% if bg is defined and bg == 'bg-img-home' %}bg-img-home{% elseif bg is defined and bg == 'bg-img-plat' %}bg-img-plat{% endif %}">
<div class="container-fluid">
    <header class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-brown view">
                <a class="navbar-brand" href="{{ path('app_home') }}"><i class="fas fa-utensils"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link {% if menu is defined and menu == 'actif' %}active{% endif %}"
                               href="{{ path('app_home') }}">Accueil<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('plat.home') }}">Tous nos plats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profile.reserv') }}">Réservation</a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('profile.home') }}">Profil</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_EDITOR') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin.start') }}">Administration</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav my-2 my-lg-0">
                        {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('registration') }}">Inscription</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

        </div>
    </header>
    <div class="col-md-4 mt-3">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12 mb-3 vue">
            {% block body %}{% endblock %}
        </div>
    </div>
    <footer class="mt-3">
        <div class="d-flex justify-content-around bg-sombre">
            <div class="grid-container">
                <div class="grid-item">
                    <img class="grid-img"
                         src="{{ asset('footer/img7.jpg') }}" alt="">
                </div>
                <div class="grid-item">
                    <img class="grid-img"
                         src="{{ asset('footer/img9.jpg') }}" alt="">
                </div>
            </div>
            <div class="footer-title">
                <h4>{{ '@Le petit Confiné'|title }} {{ "now"|date('Y') }}</h4>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <img class="grid-img"
                         src="{{ asset('footer/img10.jpg') }}"
                         alt="">
                </div>
                <div class="grid-item">
                    <img class="grid-img"
                         src="{{ asset('footer/img12.jpg') }}"
                         alt="">
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Bootstrap js -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<!-- Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script>$('select').select2();</script>
{% block javascripts %}{% endblock %}
</body>

</html>