{{ form_start(formMenu) }}
    {{ form_row(formMenu.nom|e) }}
    {{ form_row(formMenu.prix|e) }}
    {{ form_row(formMenu.plats|e) }}
<button class="btn btn-anis float-right">{{ button|default('Enregistrer') }}</button>
<a href="{{ path('admin.menu.index') }}" class="btn btn-anis float-left">Retour</a>
{{ form_end(formMenu) }}

