{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ include('admin/_nav.html.twig') }}
        <div class="col-md-7 align align-md">
            <h1 class="text-brown ml-5 mb-3">{{ 'Création d\'un menu'|title }}</h1>
            <div class="mx-3">
                {{ include ("admin/menu/_form.html.twig", {form:formMenu}) }}
            </div>
        </div>
    </div>
{% endblock %}